# Database PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/ecosort"

# Auth.js / NextAuth Secret
NEXTAUTH_SECRET="your-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"
